In [481]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\hp\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: patsy>=0.5.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)

In [482]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [483]:
df = pd.read_csv("train.csv")

In [484]:
df1 = pd.read_csv("test.csv")

In [485]:
df

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.630000,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.340000,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.160000,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.270000,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.130000,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,fffe43004900440035003500390036003100,Cuc Tarr,46,F,6F51HFO,NaN,Basic Membership,2017-09-21,No,xxxxxxxx,...,-650.682759,27277.68,6.0,639.510000,No,Yes,Yes,No Information Available,No reason specified,4
36988,fffe43004900440033003500380036003600,Jenni Stronach,29,F,21KSM8Y,Town,Basic Membership,2016-06-27,No,xxxxxxxx,...,-638.123421,11069.71,28.0,527.990000,Yes,No,No,Not Applicable,Poor Customer Service,5
36989,fffe4300490044003500330034003100,Luciana Kinch,23,F,XK1IM9H,NaN,Basic Membership,2016-09-11,Yes,CID3838,...,154.940000,38127.56,Error,680.470000,No,Yes,Yes,Unsolved,Poor Website,4
36990,fffe43004900440031003200390039003000,Tawana Ardoin,53,M,K6VTP1Z,Village,Platinum Membership,2017-06-15,No,xxxxxxxx,...,482.610000,2378.86,20.0,197.264414,Yes,Yes,No,Not Applicable,No reason specified,3
36991,fffe43004900440033003600340034003200,Verlene Beaulieu,35,M,LBX0GLR,Town,Silver Membership,2015-10-23,No,xxxxxxxx,...,79.180000,2189.68,Error,719.970000,Yes,No,No,Not Applicable,Quality Customer Care,2

In [486]:
df1

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,Kraig Peele,12,M,2V0HA0O,NaN,Gold Membership,2015-01-25,No,xxxxxxxx,...,16,103.57,46279.35,18.0,708.120000,No,Yes,No,Not Applicable,Poor Product Quality
19915,fffe43004900440032003900370037003100,Damaris Sabol,40,F,VJGQD6Q,Village,No Membership,2017-12-31,Yes,CID45490,...,21,63.19,23466.26,Error,574.340000,No,Yes,No,Not Applicable,No reason specified
19916,fffe43004900440036003100310036003700,Loura Huckstep,55,M,ADE7LWA,Town,No Membership,2015-09-09,No,xxxxxxxx,...,18,68.72,17903.75,24.0,564.300000,No,Yes,Yes,Unsolved,No reason specified
19917,fffe43004900440034003200330033003600,Sharita Clubb,17,F,A35KUBS,City,Silver Membership,2016-04-17,Yes,CID37167,...,3,119.54,14057.09,22.0,606.340000,No,Yes,No,Not Applicable,Poor Website
19918,fffe43004900440036003200340030003100,Ying Branum,20,M,IPJKJJV,Town,Premium Membership,2017-10-30,Yes,CID56352,...,8,505.26,36786.44,Error,1193.689813,No,Yes,Yes,Unsolved,Too many ads

In [487]:
df.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [488]:
df = df.drop(['Name','security_no'],axis=1)

In [489]:
df1 = df1.drop(['Name','security_no'],axis=1)

In [490]:
df['region_category'].fillna('Town',inplace = True)

df['points_in_wallet'].fillna(df.points_in_wallet.mean(),inplace = True)

In [491]:
df1['region_category'].fillna('Town',inplace = True)

df1['points_in_wallet'].fillna(df1.points_in_wallet.mean(),inplace = True)

In [492]:
df

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,18,F,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,Gift Vouchers/Coupons,?,...,300.630000,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,32,F,City,Premium Membership,2017-08-28,?,CID21329,Gift Vouchers/Coupons,Desktop,...,306.340000,12838.38,10.0,686.882199,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,44,F,Town,No Membership,2016-11-11,Yes,CID12313,Gift Vouchers/Coupons,Desktop,...,516.160000,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,37,M,City,No Membership,2016-10-29,Yes,CID3793,Gift Vouchers/Coupons,Desktop,...,53.270000,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,31,F,City,No Membership,2017-09-12,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,113.130000,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,fffe43004900440035003500390036003100,46,F,Town,Basic Membership,2017-09-21,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,-650.682759,27277.68,6.0,639.510000,No,Yes,Yes,No Information Available,No reason specified,4
36988,fffe43004900440033003500380036003600,29,F,Town,Basic Membership,2016-06-27,No,xxxxxxxx,Without Offers,Smartphone,...,-638.123421,11069.71,28.0,527.990000,Yes,No,No,Not Applicable,Poor Customer Service,5
36989,fffe4300490044003500330034003100,23,F,Town,Basic Membership,2016-09-11,Yes,CID3838,Gift Vouchers/Coupons,Desktop,...,154.940000,38127.56,Error,680.470000,No,Yes,Yes,Unsolved,Poor Website,4
36990,fffe43004900440031003200390039003000,53,M,Village,Platinum Membership,2017-06-15,No,xxxxxxxx,Gift Vouchers/Coupons,Smartphone,...,482.610000,2378.86,20.0,197.264414,Yes,Yes,No,Not Applicable,No reason specified,3
36991,fffe43004900440033003600340034003200,35,M,Town,Silver Membership,2015-10-23,No,xxxxxxxx,Gift Vouchers/Coupons,Desktop,...,79.180000,2189.68,Error,719.970000,Yes,No,No,Not Applicable,Quality Customer Care,2

In [493]:
df1

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,50,F,Village,Premium Membership,2015-11-02,No,xxxxxxxx,Without Offers,Smartphone,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,41,M,Village,Gold Membership,2016-03-01,No,xxxxxxxx,Without Offers,Desktop,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,31,F,Town,Silver Membership,2017-03-03,No,xxxxxxxx,Gift Vouchers/Coupons,Both,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,64,M,Town,Silver Membership,2017-08-18,Yes,CID8941,Credit/Debit Card Offers,?,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,16,F,Town,No Membership,2015-05-05,Yes,CID5690,Without Offers,Smartphone,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,12,M,Town,Gold Membership,2015-01-25,No,xxxxxxxx,Without Offers,Desktop,...,16,103.57,46279.35,18.0,708.120000,No,Yes,No,Not Applicable,Poor Product Quality
19915,fffe43004900440032003900370037003100,40,F,Village,No Membership,2017-12-31,Yes,CID45490,Without Offers,Desktop,...,21,63.19,23466.26,Error,574.340000,No,Yes,No,Not Applicable,No reason specified
19916,fffe43004900440036003100310036003700,55,M,Town,No Membership,2015-09-09,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,18,68.72,17903.75,24.0,564.300000,No,Yes,Yes,Unsolved,No reason specified
19917,fffe43004900440034003200330033003600,17,F,City,Silver Membership,2016-04-17,Yes,CID37167,Credit/Debit Card Offers,Smartphone,...,3,119.54,14057.09,22.0,606.340000,No,Yes,No,Not Applicable,Poor Website
19918,fffe43004900440036003200340030003100,20,M,Town,Premium Membership,2017-10-30,Yes,CID56352,Gift Vouchers/Coupons,Both,...,8,505.26,36786.44,Error,1193.689813,No,Yes,Yes,Unsolved,Too many ads

In [494]:
df.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,36992.000000,36992.000000,36992.000000,36992.000000,36992.000000,36992.000000
mean,37.118161,-41.915576,243.472334,29271.194003,686.882199,3.463397
std,15.867412,228.819900,398.289149,19444.806226,184.811682,1.409661
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,-1.000000
25%,23.000000,8.000000,60.102500,14177.540000,624.350000,3.000000
50%,37.000000,12.000000,161.765000,27554.485000,686.882199,4.000000
75%,51.000000,16.000000,356.515000,40855.110000,757.002500,5.000000
max,64.000000,26.000000,3235.578521,99914.050000,2069.069761,5.000000

In [495]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   age                           36992 non-null  int64
 2   gender                        36992 non-null  object
 3   region_category               36992 non-null  object
 4   membership_category           36992 non-null  object
 5   joining_date                  36992 non-null  object
 6   joined_through_referral       36992 non-null  object
 7   referral_id                   36992 non-null  object
 8   preferred_offer_types         36704 non-null  object
 9   medium_of_operation           36992 non-null  object
 10  internet_option               36992 non-null  object
 11  last_visit_time               36992 non-null  object
 12  days_since_last_login         36992 non-null  int64
 13  avg_time_spent                36992 non-null  float64
 14  avg_transaction_value         36992 non-null  float64
 15  avg_frequency_login_days      36992 non-null  object
 16  points_in_wallet              36992 non-null  float64
 17  used_special_discount         36992 non-null  object
 18  offer_application_preference  36992 non-null  object
 19  past_complaint                36992 non-null  object
 20  complaint_status              36992 non-null  object
 21  feedback                      36992 non-null  object
 22  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(17)
memory usage: 6.5+ MB

In [496]:
df['joining_year'] = pd.DatetimeIndex(df['joining_date']).year
df['joining_month'] = pd.DatetimeIndex(df['joining_date']).month
df['month_year'] = pd.to_datetime(df['joining_date']).dt.to_period('M')

In [497]:
df1['joining_year'] = pd.DatetimeIndex(df1['joining_date']).year
df1['joining_month'] = pd.DatetimeIndex(df1['joining_date']).month
df1['month_year'] = pd.to_datetime(df1['joining_date']).dt.to_period('M')

In [498]:
df['joining_year'].value_counts()

2017    12540
2015    12297
2016    12155
Name: joining_year, dtype: int64

In [499]:
df['joining_month'].value_counts()

12    3194
7     3186
1     3158
8     3147
10    3095
4     3079
6     3076
3     3068
9     3061
5     3061
11    3023
2     2844
Name: joining_month, dtype: int64

In [500]:
conditions = [
    (df['month_year'] == '2015-01'),
    (df['month_year'] == '2015-02'),
    (df['month_year'] == '2015-03'),
    (df['month_year'] == '2015-04'),
    ]

values = ['2015-01','2015-02','2015-03','2015-04']

df['date1'] = np.select(conditions, values)

In [501]:
conditions = [
    (df1['month_year'] == '2015-01'),
    (df1['month_year'] == '2015-02'),
    (df1['month_year'] == '2015-03'),
    (df1['month_year'] == '2015-04'),
    ]

values = ['2015-01','2015-02','2015-03','2015-04']

df1['date1'] = np.select(conditions, values)

In [502]:
conditions = [
    (df['month_year'] == '2015-01'),
    (df['month_year'] == '2015-02'),
    (df['month_year'] == '2015-03'),
    (df['month_year'] == '2015-04'),
    ]

values = [1,1,1,1]

df['date1'] = np.select(conditions, values)

In [503]:
conditions = [
    (df1['month_year'] == '2015-01'),
    (df1['month_year'] == '2015-02'),
    (df1['month_year'] == '2015-03'),
    (df1['month_year'] == '2015-04'),
    ]

values = [1,1,1,1]

df1['date1'] = np.select(conditions, values)

In [504]:
conditions = [
    (df['month_year'] == '2015-05'),
    (df['month_year'] == '2015-06'),
    (df['month_year'] == '2015-07'),
    (df['month_year'] == '2015-08'),
    ]

values = ['2015-05','2015-06','2015-07','2015-08']

df['date2'] = np.select(conditions, values)

In [505]:
conditions = [
    (df1['month_year'] == '2015-05'),
    (df1['month_year'] == '2015-06'),
    (df1['month_year'] == '2015-07'),
    (df1['month_year'] == '2015-08'),
    ]

values = ['2015-05','2015-06','2015-07','2015-08']

df1['date2'] = np.select(conditions, values)

In [506]:
conditions = [
    (df['month_year'] == '2015-05'),
    (df['month_year'] == '2015-06'),
    (df['month_year'] == '2015-07'),
    (df['month_year'] == '2015-08'),
    ]

values = [1,1,1,1]

df['date2'] = np.select(conditions, values)

In [507]:
conditions = [
    (df1['month_year'] == '2015-05'),
    (df1['month_year'] == '2015-06'),
    (df1['month_year'] == '2015-07'),
    (df1['month_year'] == '2015-08'),
    ]

values = [1,1,1,1]

df1['date2'] = np.select(conditions, values)

In [508]:
conditions = [
    (df['month_year'] == '2015-09'),
    (df['month_year'] == '2015-10'),
    (df['month_year'] == '2015-11'),
    (df['month_year'] == '2015-12'),
    ]

values = ['2015-09','2015-10','2015-11','2015-12']

df['date3'] = np.select(conditions, values)

In [509]:
conditions = [
    (df1['month_year'] == '2015-09'),
    (df1['month_year'] == '2015-10'),
    (df1['month_year'] == '2015-11'),
    (df1['month_year'] == '2015-12'),
    ]

values = ['2015-09','2015-10','2015-11','2015-12']

df1['date3'] = np.select(conditions, values)

In [510]:
conditions = [
    (df['month_year'] == '2015-09'),
    (df['month_year'] == '2015-10'),
    (df['month_year'] == '2015-11'),
    (df['month_year'] == '2015-12'),
    ]

values = [1,1,1,1]

df['date3'] = np.select(conditions, values)

In [511]:
conditions = [
    (df1['month_year'] == '2015-09'),
    (df1['month_year'] == '2015-10'),
    (df1['month_year'] == '2015-11'),
    (df1['month_year'] == '2015-12'),
    ]

values = [1,1,1,1]

df1['date3'] = np.select(conditions, values)

In [512]:
conditions = [
    (df['month_year'] == '2016-01'),
    (df['month_year'] == '2016-02'),
    (df['month_year'] == '2016-03'),
    (df['month_year'] == '2016-04'),
    ]

values = ['2016-01','2016-02','2016-03','2016-04']

df['date4'] = np.select(conditions, values)

In [513]:
conditions = [
    (df1['month_year'] == '2016-01'),
    (df1['month_year'] == '2016-02'),
    (df1['month_year'] == '2016-03'),
    (df1['month_year'] == '2016-04'),
    ]

values = ['2016-01','2016-02','2016-03','2016-04']

df1['date4'] = np.select(conditions, values)

In [514]:
conditions = [
    (df['month_year'] == '2016-01'),
    (df['month_year'] == '2016-02'),
    (df['month_year'] == '2016-03'),
    (df['month_year'] == '2016-04'),
    ]

values = [1,1,1,1]

df['date4'] = np.select(conditions, values)

In [515]:
conditions = [
    (df1['month_year'] == '2016-01'),
    (df1['month_year'] == '2016-02'),
    (df1['month_year'] == '2016-03'),
    (df1['month_year'] == '2016-04'),
    ]

values = [1,1,1,1]

df1['date4'] = np.select(conditions, values)

In [516]:
conditions = [
    (df['month_year'] == '2016-05'),
    (df['month_year'] == '2016-06'),
    (df['month_year'] == '2016-07'),
    (df['month_year'] == '2016-08'),
    ]

values = ['2016-05','2016-06','2016-07','2016-08']

df['date5'] = np.select(conditions, values)

In [517]:
conditions = [
    (df1['month_year'] == '2016-05'),
    (df1['month_year'] == '2016-06'),
    (df1['month_year'] == '2016-07'),
    (df1['month_year'] == '2016-08'),
    ]

values = ['2016-05','2016-06','2016-07','2016-08']

df1['date5'] = np.select(conditions, values)

In [518]:
conditions = [
    (df['month_year'] == '2016-05'),
    (df['month_year'] == '2016-06'),
    (df['month_year'] == '2016-07'),
    (df['month_year'] == '2016-08'),
    ]

values = [1,1,1,1]

df['date5'] = np.select(conditions, values)

In [519]:
conditions = [
    (df1['month_year'] == '2016-05'),
    (df1['month_year'] == '2016-06'),
    (df1['month_year'] == '2016-07'),
    (df1['month_year'] == '2016-08'),
    ]

values = [1,1,1,1]

df1['date5'] = np.select(conditions, values)

In [520]:
conditions = [
    (df['month_year'] == '2016-09'),
    (df['month_year'] == '2016-10'),
    (df['month_year'] == '2016-11'),
    (df['month_year'] == '2016-12'),
    ]

values = ['2016-09','2016-10','2016-11','2016-12']

df['date6'] = np.select(conditions, values)

In [521]:
conditions = [
    (df1['month_year'] == '2016-09'),
    (df1['month_year'] == '2016-10'),
    (df1['month_year'] == '2016-11'),
    (df1['month_year'] == '2016-12'),
    ]

values = ['2016-09','2016-10','2016-11','2016-12']

df1['date6'] = np.select(conditions, values)

In [522]:
conditions = [
    (df['month_year'] == '2016-09'),
    (df['month_year'] == '2016-10'),
    (df['month_year'] == '2016-11'),
    (df['month_year'] == '2016-12'),
    ]

values = [1,1,1,1]

df['date6'] = np.select(conditions, values)

In [523]:
conditions = [
    (df1['month_year'] == '2016-09'),
    (df1['month_year'] == '2016-10'),
    (df1['month_year'] == '2016-11'),
    (df1['month_year'] == '2016-12'),
    ]

values = [1,1,1,1]

df1['date6'] = np.select(conditions, values)

In [524]:
conditions = [
    (df['month_year'] == '2017-01'),
    (df['month_year'] == '2017-02'),
    (df['month_year'] == '2017-03'),
    (df['month_year'] == '2017-04'),
    ]

values = ['2017-01','2017-02','2017-03','2017-04']

df['date7'] = np.select(conditions, values)

In [525]:
conditions = [
    (df1['month_year'] == '2017-01'),
    (df1['month_year'] == '2017-02'),
    (df1['month_year'] == '2017-03'),
    (df1['month_year'] == '2017-04'),
    ]

values = ['2017-01','2017-02','2017-03','2017-04']

df1['date7'] = np.select(conditions, values)

In [526]:
conditions = [
    (df['month_year'] == '2017-01'),
    (df['month_year'] == '2017-02'),
    (df['month_year'] == '2017-03'),
    (df['month_year'] == '2017-04'),
    ]

values = [1,1,1,1]

df['date7'] = np.select(conditions, values)

In [527]:
conditions = [
    (df1['month_year'] == '2017-01'),
    (df1['month_year'] == '2017-02'),
    (df1['month_year'] == '2017-03'),
    (df1['month_year'] == '2017-04'),
    ]

values = [1,1,1,1]

df1['date7'] = np.select(conditions, values)

In [528]:
conditions = [
    (df['month_year'] == '2017-05'),
    (df['month_year'] == '2017-06'),
    (df['month_year'] == '2017-07'),
    (df['month_year'] == '2017-08'),
    ]

values = ['2017-05','2017-06','2017-07','2017-08']

df['date8'] = np.select(conditions, values)

In [529]:
conditions = [
    (df1['month_year'] == '2017-05'),
    (df1['month_year'] == '2017-06'),
    (df1['month_year'] == '2017-07'),
    (df1['month_year'] == '2017-08'),
    ]

values = ['2017-05','2017-06','2017-07','2017-08']

df1['date8'] = np.select(conditions, values)

In [530]:
conditions = [
    (df['month_year'] == '2017-05'),
    (df['month_year'] == '2017-06'),
    (df['month_year'] == '2017-07'),
    (df['month_year'] == '2017-08'),
    ]

values = [1,1,1,1]

df['date8'] = np.select(conditions, values)

In [531]:
conditions = [
    (df1['month_year'] == '2017-05'),
    (df1['month_year'] == '2017-06'),
    (df1['month_year'] == '2017-07'),
    (df1['month_year'] == '2017-08'),
    ]

values = [1,1,1,1]

df1['date8'] = np.select(conditions, values)

In [532]:
conditions = [
    (df['month_year'] == '2017-09'),
    (df['month_year'] == '2017-10'),
    (df['month_year'] == '2017-11'),
    (df['month_year'] == '2017-12'),
    ]

values = ['2017-09','2017-10','2017-11','2017-12']

df['date9'] = np.select(conditions, values)

In [533]:
conditions = [
    (df1['month_year'] == '2017-09'),
    (df1['month_year'] == '2017-10'),
    (df1['month_year'] == '2017-11'),
    (df1['month_year'] == '2017-12'),
    ]

values = ['2017-09','2017-10','2017-11','2017-12']

df1['date9'] = np.select(conditions, values)

In [534]:
conditions = [
    (df['month_year'] == '2017-09'),
    (df['month_year'] == '2017-10'),
    (df['month_year'] == '2017-11'),
    (df['month_year'] == '2017-12'),
    ]

values = [1,1,1,1]

df['date9'] = np.select(conditions, values)

In [535]:
conditions = [
    (df1['month_year'] == '2017-09'),
    (df1['month_year'] == '2017-10'),
    (df1['month_year'] == '2017-11'),
    (df1['month_year'] == '2017-12'),
    ]

values = [1,1,1,1]

df1['date9'] = np.select(conditions, values)

In [536]:
df

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,month_year,date1,date2,date3,date4,date5,date6,date7,date8,date9
0,fffe4300490044003600300030003800,18,F,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,Gift Vouchers/Coupons,?,...,2017-08,0,0,0,0,0,0,0,1,0
1,fffe43004900440032003100300035003700,32,F,City,Premium Membership,2017-08-28,?,CID21329,Gift Vouchers/Coupons,Desktop,...,2017-08,0,0,0,0,0,0,0,1,0
2,fffe4300490044003100390032003600,44,F,Town,No Membership,2016-11-11,Yes,CID12313,Gift Vouchers/Coupons,Desktop,...,2016-11,0,0,0,0,0,1,0,0,0
3,fffe43004900440036003000330031003600,37,M,City,No Membership,2016-10-29,Yes,CID3793,Gift Vouchers/Coupons,Desktop,...,2016-10,0,0,0,0,0,1,0,0,0
4,fffe43004900440031003900350030003600,31,F,City,No Membership,2017-09-12,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,2017-09,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,fffe43004900440035003500390036003100,46,F,Town,Basic Membership,2017-09-21,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,2017-09,0,0,0,0,0,0,0,0,1
36988,fffe43004900440033003500380036003600,29,F,Town,Basic Membership,2016-06-27,No,xxxxxxxx,Without Offers,Smartphone,...,2016-06,0,0,0,0,1,0,0,0,0
36989,fffe4300490044003500330034003100,23,F,Town,Basic Membership,2016-09-11,Yes,CID3838,Gift Vouchers/Coupons,Desktop,...,2016-09,0,0,0,0,0,1,0,0,0
36990,fffe43004900440031003200390039003000,53,M,Village,Platinum Membership,2017-06-15,No,xxxxxxxx,Gift Vouchers/Coupons,Smartphone,...,2017-06,0,0,0,0,0,0,0,1,0
36991,fffe43004900440033003600340034003200,35,M,Town,Silver Membership,2015-10-23,No,xxxxxxxx,Gift Vouchers/Coupons,Desktop,...,2015-10,0,0,1,0,0,0,0,0,0

In [537]:
df1

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,month_year,date1,date2,date3,date4,date5,date6,date7,date8,date9
0,fffe43004900440031003700300030003400,50,F,Village,Premium Membership,2015-11-02,No,xxxxxxxx,Without Offers,Smartphone,...,2015-11,0,0,1,0,0,0,0,0,0
1,fffe43004900440031003900370037003300,41,M,Village,Gold Membership,2016-03-01,No,xxxxxxxx,Without Offers,Desktop,...,2016-03,0,0,0,1,0,0,0,0,0
2,fffe43004900440034003800360037003000,31,F,Town,Silver Membership,2017-03-03,No,xxxxxxxx,Gift Vouchers/Coupons,Both,...,2017-03,0,0,0,0,0,0,1,0,0
3,fffe43004900440036003200370033003400,64,M,Town,Silver Membership,2017-08-18,Yes,CID8941,Credit/Debit Card Offers,?,...,2017-08,0,0,0,0,0,0,0,1,0
4,fffe43004900440035003000370031003900,16,F,Town,No Membership,2015-05-05,Yes,CID5690,Without Offers,Smartphone,...,2015-05,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,12,M,Town,Gold Membership,2015-01-25,No,xxxxxxxx,Without Offers,Desktop,...,2015-01,1,0,0,0,0,0,0,0,0
19915,fffe43004900440032003900370037003100,40,F,Village,No Membership,2017-12-31,Yes,CID45490,Without Offers,Desktop,...,2017-12,0,0,0,0,0,0,0,0,1
19916,fffe43004900440036003100310036003700,55,M,Town,No Membership,2015-09-09,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,2015-09,0,0,1,0,0,0,0,0,0
19917,fffe43004900440034003200330033003600,17,F,City,Silver Membership,2016-04-17,Yes,CID37167,Credit/Debit Card Offers,Smartphone,...,2016-04,0,0,0,1,0,0,0,0,0
19918,fffe43004900440036003200340030003100,20,M,Town,Premium Membership,2017-10-30,Yes,CID56352,Gift Vouchers/Coupons,Both,...,2017-10,0,0,0,0,0,0,0,0,1

In [538]:
conditions = [
    (df['referral_id'] == 'xxxxxxxx'),
    (df['referral_id'] != 'xxxxxxxx')
    ]
value = ["No","Yes"]
df['joined_through_referral_1'] = np.select(conditions, value)

In [539]:
conditions = [
    (df1['referral_id'] == 'xxxxxxxx'),
    (df1['referral_id'] != 'xxxxxxxx')
    ]
value = ["No","Yes"]
df1['joined_through_referral_1'] = np.select(conditions, value)

In [540]:
df

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,date1,date2,date3,date4,date5,date6,date7,date8,date9,joined_through_referral_1
0,fffe4300490044003600300030003800,18,F,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,Gift Vouchers/Coupons,?,...,0,0,0,0,0,0,0,1,0,No
1,fffe43004900440032003100300035003700,32,F,City,Premium Membership,2017-08-28,?,CID21329,Gift Vouchers/Coupons,Desktop,...,0,0,0,0,0,0,0,1,0,Yes
2,fffe4300490044003100390032003600,44,F,Town,No Membership,2016-11-11,Yes,CID12313,Gift Vouchers/Coupons,Desktop,...,0,0,0,0,0,1,0,0,0,Yes
3,fffe43004900440036003000330031003600,37,M,City,No Membership,2016-10-29,Yes,CID3793,Gift Vouchers/Coupons,Desktop,...,0,0,0,0,0,1,0,0,0,Yes
4,fffe43004900440031003900350030003600,31,F,City,No Membership,2017-09-12,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,0,0,0,0,0,0,0,0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,fffe43004900440035003500390036003100,46,F,Town,Basic Membership,2017-09-21,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,0,0,0,0,0,0,0,0,1,No
36988,fffe43004900440033003500380036003600,29,F,Town,Basic Membership,2016-06-27,No,xxxxxxxx,Without Offers,Smartphone,...,0,0,0,0,1,0,0,0,0,No
36989,fffe4300490044003500330034003100,23,F,Town,Basic Membership,2016-09-11,Yes,CID3838,Gift Vouchers/Coupons,Desktop,...,0,0,0,0,0,1,0,0,0,Yes
36990,fffe43004900440031003200390039003000,53,M,Village,Platinum Membership,2017-06-15,No,xxxxxxxx,Gift Vouchers/Coupons,Smartphone,...,0,0,0,0,0,0,0,1,0,No
36991,fffe43004900440033003600340034003200,35,M,Town,Silver Membership,2015-10-23,No,xxxxxxxx,Gift Vouchers/Coupons,Desktop,...,0,0,1,0,0,0,0,0,0,No

In [541]:
df1

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,date1,date2,date3,date4,date5,date6,date7,date8,date9,joined_through_referral_1
0,fffe43004900440031003700300030003400,50,F,Village,Premium Membership,2015-11-02,No,xxxxxxxx,Without Offers,Smartphone,...,0,0,1,0,0,0,0,0,0,No
1,fffe43004900440031003900370037003300,41,M,Village,Gold Membership,2016-03-01,No,xxxxxxxx,Without Offers,Desktop,...,0,0,0,1,0,0,0,0,0,No
2,fffe43004900440034003800360037003000,31,F,Town,Silver Membership,2017-03-03,No,xxxxxxxx,Gift Vouchers/Coupons,Both,...,0,0,0,0,0,0,1,0,0,No
3,fffe43004900440036003200370033003400,64,M,Town,Silver Membership,2017-08-18,Yes,CID8941,Credit/Debit Card Offers,?,...,0,0,0,0,0,0,0,1,0,Yes
4,fffe43004900440035003000370031003900,16,F,Town,No Membership,2015-05-05,Yes,CID5690,Without Offers,Smartphone,...,0,1,0,0,0,0,0,0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,12,M,Town,Gold Membership,2015-01-25,No,xxxxxxxx,Without Offers,Desktop,...,1,0,0,0,0,0,0,0,0,No
19915,fffe43004900440032003900370037003100,40,F,Village,No Membership,2017-12-31,Yes,CID45490,Without Offers,Desktop,...,0,0,0,0,0,0,0,0,1,Yes
19916,fffe43004900440036003100310036003700,55,M,Town,No Membership,2015-09-09,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,0,0,1,0,0,0,0,0,0,No
19917,fffe43004900440034003200330033003600,17,F,City,Silver Membership,2016-04-17,Yes,CID37167,Credit/Debit Card Offers,Smartphone,...,0,0,0,1,0,0,0,0,0,Yes
19918,fffe43004900440036003200340030003100,20,M,Town,Premium Membership,2017-10-30,Yes,CID56352,Gift Vouchers/Coupons,Both,...,0,0,0,0,0,0,0,0,1,Yes

In [542]:
df['last_visit_time']=pd.to_datetime(df["last_visit_time"])

In [543]:
df1['last_visit_time']=pd.to_datetime(df1["last_visit_time"])

In [544]:
df["hour"] = df['last_visit_time'].dt.hour

In [545]:
df1["hour"] = df1['last_visit_time'].dt.hour

In [546]:
df['hour'].value_counts()

11    1603
13    1585
17    1582
2     1569
22    1566
16    1565
20    1562
8     1561
21    1559
1     1559
15    1547
4     1547
23    1544
10    1538
6     1533
19    1533
9     1528
7     1516
0     1512
14    1508
18    1504
5     1499
12    1494
3     1478
Name: hour, dtype: int64

In [547]:
conditions = [
    (df['hour'] == 1),
    (df['hour'] == 2),
    (df['hour'] == 3),
    (df['hour'] == 4),
    (df['hour'] == 5),
    (df['hour'] == 6),
    ]

values = [1,1,1,1,1,1]

df['hour1'] = np.select(conditions, values)

In [548]:
conditions = [
    (df1['hour'] == 1),
    (df1['hour'] == 2),
    (df1['hour'] == 3),
    (df1['hour'] == 4),
    (df1['hour'] == 5),
    (df1['hour'] == 6),
    ]

values = [1,1,1,1,1,1]

df1['hour1'] = np.select(conditions, values)

In [549]:
conditions = [
    (df['hour'] == 7),
    (df['hour'] == 8),
    (df['hour'] == 9),
    (df['hour'] == 10),
    (df['hour'] == 11),
    (df['hour'] == 12),
    ]

values = [1,1,1,1,1,1]

df['hour2'] = np.select(conditions, values)

In [550]:
conditions = [
    (df1['hour'] == 7),
    (df1['hour'] == 8),
    (df1['hour'] == 9),
    (df1['hour'] == 10),
    (df1['hour'] == 11),
    (df1['hour'] == 12),
    ]

values = [1,1,1,1,1,1]

df1['hour2'] = np.select(conditions, values)

In [551]:
conditions = [
    (df['hour'] == 13),
    (df['hour'] == 14),
    (df['hour'] == 15),
    (df['hour'] == 16),
    (df['hour'] == 17),
    (df['hour'] == 18),
    ]

values = [1,1,1,1,1,1]

df['hour3'] = np.select(conditions, values)

In [552]:
conditions = [
    (df1['hour'] == 13),
    (df1['hour'] == 14),
    (df1['hour'] == 15),
    (df1['hour'] == 16),
    (df1['hour'] == 17),
    (df1['hour'] == 18),
    ]

values = [1,1,1,1,1,1]

df1['hour3'] = np.select(conditions, values)

In [553]:
conditions = [
    (df['hour'] == 19),
    (df['hour'] == 20),
    (df['hour'] == 21),
    (df['hour'] == 22),
    (df['hour'] == 23),
    (df['hour'] == 24),
    ]

values = [1,1,1,1,1,1]

df['hour4'] = np.select(conditions, values)

In [554]:
conditions = [
    (df1['hour'] == 19),
    (df1['hour'] == 20),
    (df1['hour'] == 21),
    (df1['hour'] == 22),
    (df1['hour'] == 23),
    (df1['hour'] == 24),
    ]

values = [1,1,1,1,1,1]

df1['hour4'] = np.select(conditions, values)

In [555]:
df['medium_of_operation'].replace({"?":"other"},inplace=True)

In [556]:
df1['medium_of_operation'].replace({"?":"other"},inplace=True)

In [557]:
df['last_visit_time'].value_counts()

2021-04-15 07:56:41    6
2021-04-15 21:12:56    5
2021-04-15 22:31:06    5
2021-04-15 12:30:02    5
2021-04-15 02:50:54    5
                      ..
2021-04-15 22:08:42    1
2021-04-15 10:10:25    1
2021-04-15 21:36:56    1
2021-04-15 00:51:01    1
2021-04-15 06:48:07    1
Name: last_visit_time, Length: 30101, dtype: int64

In [558]:
df

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,date6,date7,date8,date9,joined_through_referral_1,hour,hour1,hour2,hour3,hour4
0,fffe4300490044003600300030003800,18,F,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,Gift Vouchers/Coupons,other,...,0,0,1,0,No,16,0,0,1,0
1,fffe43004900440032003100300035003700,32,F,City,Premium Membership,2017-08-28,?,CID21329,Gift Vouchers/Coupons,Desktop,...,0,0,1,0,Yes,12,0,1,0,0
2,fffe4300490044003100390032003600,44,F,Town,No Membership,2016-11-11,Yes,CID12313,Gift Vouchers/Coupons,Desktop,...,1,0,0,0,Yes,22,0,0,0,1
3,fffe43004900440036003000330031003600,37,M,City,No Membership,2016-10-29,Yes,CID3793,Gift Vouchers/Coupons,Desktop,...,1,0,0,0,Yes,15,0,0,1,0
4,fffe43004900440031003900350030003600,31,F,City,No Membership,2017-09-12,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,...,0,0,0,1,No,15,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36987,fffe43004900440035003500390036003100,46,F,Town,Basic Membership,2017-09-21,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,0,0,0,1,No,4,1,0,0,0
36988,fffe43004900440033003500380036003600,29,F,Town,Basic Membership,2016-06-27,No,xxxxxxxx,Without Offers,Smartphone,...,0,0,0,0,No,23,0,0,0,1
36989,fffe4300490044003500330034003100,23,F,Town,Basic Membership,2016-09-11,Yes,CID3838,Gift Vouchers/Coupons,Desktop,...,1,0,0,0,Yes,3,1,0,0,0
36990,fffe43004900440031003200390039003000,53,M,Village,Platinum Membership,2017-06-15,No,xxxxxxxx,Gift Vouchers/Coupons,Smartphone,...,0,0,1,0,No,9,0,1,0,0
36991,fffe43004900440033003600340034003200,35,M,Town,Silver Membership,2015-10-23,No,xxxxxxxx,Gift Vouchers/Coupons,Desktop,...,0,0,0,0,No,1,1,0,0,0

In [559]:
df1

,customer_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,date6,date7,date8,date9,joined_through_referral_1,hour,hour1,hour2,hour3,hour4
0,fffe43004900440031003700300030003400,50,F,Village,Premium Membership,2015-11-02,No,xxxxxxxx,Without Offers,Smartphone,...,0,0,0,0,No,7,0,1,0,0
1,fffe43004900440031003900370037003300,41,M,Village,Gold Membership,2016-03-01,No,xxxxxxxx,Without Offers,Desktop,...,0,0,0,0,No,22,0,0,0,1
2,fffe43004900440034003800360037003000,31,F,Town,Silver Membership,2017-03-03,No,xxxxxxxx,Gift Vouchers/Coupons,Both,...,0,1,0,0,No,16,0,0,1,0
3,fffe43004900440036003200370033003400,64,M,Town,Silver Membership,2017-08-18,Yes,CID8941,Credit/Debit Card Offers,other,...,0,0,1,0,Yes,14,0,0,1,0
4,fffe43004900440035003000370031003900,16,F,Town,No Membership,2015-05-05,Yes,CID5690,Without Offers,Smartphone,...,0,0,0,0,Yes,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,12,M,Town,Gold Membership,2015-01-25,No,xxxxxxxx,Without Offers,Desktop,...,0,0,0,0,No,0,0,0,0,0
19915,fffe43004900440032003900370037003100,40,F,Village,No Membership,2017-12-31,Yes,CID45490,Without Offers,Desktop,...,0,0,0,1,Yes,7,0,1,0,0
19916,fffe43004900440036003100310036003700,55,M,Town,No Membership,2015-09-09,No,xxxxxxxx,Credit/Debit Card Offers,Desktop,...,0,0,0,0,No,9,0,1,0,0
19917,fffe43004900440034003200330033003600,17,F,City,Silver Membership,2016-04-17,Yes,CID37167,Credit/Debit Card Offers,Smartphone,...,0,0,0,0,Yes,21,0,0,0,1
19918,fffe43004900440036003200340030003100,20,M,Town,Premium Membership,2017-10-30,Yes,CID56352,Gift Vouchers/Coupons,Both,...,0,0,0,1,Yes,10,0,1,0,0

In [560]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   age                           36992 non-null  int64
 2   gender                        36992 non-null  object
 3   region_category               36992 non-null  object
 4   membership_category           36992 non-null  object
 5   joining_date                  36992 non-null  object
 6   joined_through_referral       36992 non-null  object
 7   referral_id                   36992 non-null  object
 8   preferred_offer_types         36704 non-null  object
 9   medium_of_operation           36992 non-null  object
 10  internet_option               36992 non-null  object
 11  last_visit_time               36992 non-null  datetime64[ns]
 12  days_since_last_login         36992 non-null  int64
 13  avg_time_spent                36992 non-null  float64
 14  avg_transaction_value         36992 non-null  float64
 15  avg_frequency_login_days      36992 non-null  object
 16  points_in_wallet              36992 non-null  float64
 17  used_special_discount         36992 non-null  object
 18  offer_application_preference  36992 non-null  object
 19  past_complaint                36992 non-null  object
 20  complaint_status              36992 non-null  object
 21  feedback                      36992 non-null  object
 22  churn_risk_score              36992 non-null  int64
 23  joining_year                  36992 non-null  int64
 24  joining_month                 36992 non-null  int64
 25  month_year                    36992 non-null  period[M]
 26  date1                         36992 non-null  int32
 27  date2                         36992 non-null  int32
 28  date3                         36992 non-null  int32
 29  date4                         36992 non-null  int32
 30  date5                         36992 non-null  int32
 31  date6                         36992 non-null  int32
 32  date7                         36992 non-null  int32
 33  date8                         36992 non-null  int32
 34  date9                         36992 non-null  int32
 35  joined_through_referral_1     36992 non-null  object
 36  hour                          36992 non-null  int64
 37  hour1                         36992 non-null  int32
 38  hour2                         36992 non-null  int32
 39  hour3                         36992 non-null  int32
 40  hour4                         36992 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(13), int64(6), object(17), period[M](1)
memory usage: 9.7+ MB

In [561]:
X = df.iloc[:, :]
Y = df.iloc[:, 22]

In [562]:
X1 = df1.iloc[:, :]

In [563]:
print(X)

                                customer_id  age gender region_category  \
0          fffe4300490044003600300030003800   18      F         Village
1      fffe43004900440032003100300035003700   32      F            City
2          fffe4300490044003100390032003600   44      F            Town
3      fffe43004900440036003000330031003600   37      M            City
4      fffe43004900440031003900350030003600   31      F            City
...                                     ...  ...    ...             ...
36987  fffe43004900440035003500390036003100   46      F            Town
36988  fffe43004900440033003500380036003600   29      F            Town
36989      fffe4300490044003500330034003100   23      F            Town
36990  fffe43004900440031003200390039003000   53      M         Village
36991  fffe43004900440033003600340034003200   35      M            Town

       membership_category joining_date joined_through_referral referral_id  \
0      Platinum Membership   2017-08-17                      No    xxxxxxxx
1       Premium Membership   2017-08-28                       ?    CID21329
2            No Membership   2016-11-11                     Yes    CID12313
3            No Membership   2016-10-29                     Yes     CID3793
4            No Membership   2017-09-12                      No    xxxxxxxx
...                    ...          ...                     ...         ...
36987     Basic Membership   2017-09-21                      No    xxxxxxxx
36988     Basic Membership   2016-06-27                      No    xxxxxxxx
36989     Basic Membership   2016-09-11                     Yes     CID3838
36990  Platinum Membership   2017-06-15                      No    xxxxxxxx
36991    Silver Membership   2015-10-23                      No    xxxxxxxx

          preferred_offer_types medium_of_operation  ... date6 date7  date8  \
0         Gift Vouchers/Coupons               other  ...     0     0      1
1         Gift Vouchers/Coupons             Desktop  ...     0     0      1
2         Gift Vouchers/Coupons             Desktop  ...     1     0      0
3         Gift Vouchers/Coupons             Desktop  ...     1     0      0
4      Credit/Debit Card Offers          Smartphone  ...     0     0      0
...                         ...                 ...  ...   ...   ...    ...
36987  Credit/Debit Card Offers             Desktop  ...     0     0      0
36988            Without Offers          Smartphone  ...     0     0      0
36989     Gift Vouchers/Coupons             Desktop  ...     1     0      0
36990     Gift Vouchers/Coupons          Smartphone  ...     0     0      1
36991     Gift Vouchers/Coupons             Desktop  ...     0     0      0

       date9  joined_through_referral_1 hour  hour1 hour2 hour3 hour4
0          0                         No   16      0     0     1     0
1          0                        Yes   12      0     1     0     0
2          0                        Yes   22      0     0     0     1
3          0                        Yes   15      0     0     1     0
4          1                         No   15      0     0     1     0
...      ...                        ...  ...    ...   ...   ...   ...
36987      1                         No    4      1     0     0     0
36988      0                         No   23      0     0     0     1
36989      0                        Yes    3      1     0     0     0
36990      0                         No    9      0     1     0     0
36991      0                         No    1      1     0     0     0

[36992 rows x 41 columns]

In [564]:
X = X.drop(['churn_risk_score','joining_date','joined_through_referral','referral_id','joining_year','joining_month','month_year','last_visit_time','hour'] ,axis=1)

In [661]:
df1 = df1.drop(['joining_date','joined_through_referral','referral_id','joining_year','joining_month','month_year','last_visit_time','hour'] ,axis=1)

In [566]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   age                           36992 non-null  int64
 2   gender                        36992 non-null  object
 3   region_category               36992 non-null  object
 4   membership_category           36992 non-null  object
 5   preferred_offer_types         36704 non-null  object
 6   medium_of_operation           36992 non-null  object
 7   internet_option               36992 non-null  object
 8   days_since_last_login         36992 non-null  int64
 9   avg_time_spent                36992 non-null  float64
 10  avg_transaction_value         36992 non-null  float64
 11  avg_frequency_login_days      36992 non-null  object
 12  points_in_wallet              36992 non-null  float64
 13  used_special_discount         36992 non-null  object
 14  offer_application_preference  36992 non-null  object
 15  past_complaint                36992 non-null  object
 16  complaint_status              36992 non-null  object
 17  feedback                      36992 non-null  object
 18  date1                         36992 non-null  int32
 19  date2                         36992 non-null  int32
 20  date3                         36992 non-null  int32
 21  date4                         36992 non-null  int32
 22  date5                         36992 non-null  int32
 23  date6                         36992 non-null  int32
 24  date7                         36992 non-null  int32
 25  date8                         36992 non-null  int32
 26  date9                         36992 non-null  int32
 27  joined_through_referral_1     36992 non-null  object
 28  hour1                         36992 non-null  int32
 29  hour2                         36992 non-null  int32
 30  hour3                         36992 non-null  int32
 31  hour4                         36992 non-null  int32
dtypes: float64(3), int32(13), int64(2), object(14)
memory usage: 7.2+ MB

In [567]:
print(Y)

0        2
1        1
2        5
3        5
4        5
        ..
36987    4
36988    5
36989    4
36990    3
36991    2
Name: churn_risk_score, Length: 36992, dtype: int64

In [568]:
X.avg_frequency_login_days = np.where(X.avg_frequency_login_days == 'Error', np.nan, X.avg_frequency_login_days)

In [662]:
df1.avg_frequency_login_days = np.where(X1.avg_frequency_login_days == 'Error', np.nan, X1.avg_frequency_login_days)

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [663]:
df1.avg_frequency_login_days

0         7.000000
1         9.000000
2        21.000000
3        11.000000
4         8.000000
           ...
19914    18.000000
19915    15.899058
19916    24.000000
19917    22.000000
19918    15.899058
Name: avg_frequency_login_days, Length: 19919, dtype: float64

In [571]:
X.avg_frequency_login_days

0        17.0
1        10.0
2        22.0
3         6.0
4        16.0
         ...
36987     6.0
36988    28.0
36989     NaN
36990    20.0
36991     NaN
Name: avg_frequency_login_days, Length: 36992, dtype: object

In [572]:
X.avg_frequency_login_days = X.avg_frequency_login_days.astype('str').astype('float')

In [664]:
df1.avg_frequency_login_days = X1.avg_frequency_login_days.astype('str').astype('float')

In [574]:
X['avg_frequency_login_days'].fillna(X['avg_frequency_login_days'].mean(), inplace = True)

In [665]:
df1['avg_frequency_login_days'].fillna(X1['avg_frequency_login_days'].mean(), inplace = True)

In [666]:
df1['avg_frequency_login_days']

0         7.000000
1         9.000000
2        21.000000
3        11.000000
4         8.000000
           ...
19914    18.000000
19915    15.899058
19916    24.000000
19917    22.000000
19918    15.899058
Name: avg_frequency_login_days, Length: 19919, dtype: float64

In [577]:
X['avg_frequency_login_days']

0        17.000000
1        10.000000
2        22.000000
3         6.000000
4        16.000000
           ...
36987     6.000000
36988    28.000000
36989    15.976715
36990    20.000000
36991    15.976715
Name: avg_frequency_login_days, Length: 36992, dtype: float64

In [578]:
cat_col=X.select_dtypes(include=['object'])
cat_col.columns

Index(['customer_id', 'gender', 'region_category', 'membership_category',
       'preferred_offer_types', 'medium_of_operation', 'internet_option',
       'used_special_discount', 'offer_application_preference',
       'past_complaint', 'complaint_status', 'feedback',
       'joined_through_referral_1'],
      dtype='object')

In [667]:
cat_col1 = df1.select_dtypes(include=['object'])
cat_col1.columns

Index(['customer_id', 'gender', 'region_category', 'membership_category',
       'preferred_offer_types', 'medium_of_operation', 'internet_option',
       'used_special_discount', 'offer_application_preference',
       'past_complaint', 'complaint_status', 'feedback',
       'joined_through_referral_1'],
      dtype='object')

In [580]:
cat_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   gender                        36992 non-null  object
 2   region_category               36992 non-null  object
 3   membership_category           36992 non-null  object
 4   preferred_offer_types         36704 non-null  object
 5   medium_of_operation           36992 non-null  object
 6   internet_option               36992 non-null  object
 7   used_special_discount         36992 non-null  object
 8   offer_application_preference  36992 non-null  object
 9   past_complaint                36992 non-null  object
 10  complaint_status              36992 non-null  object
 11  feedback                      36992 non-null  object
 12  joined_through_referral_1     36992 non-null  object
dtypes: object(13)
memory usage: 3.7+ MB

In [581]:
cat_col1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19919 entries, 0 to 19918
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   19919 non-null  object
 1   gender                        19919 non-null  object
 2   region_category               19919 non-null  object
 3   membership_category           19919 non-null  object
 4   preferred_offer_types         19760 non-null  object
 5   medium_of_operation           19919 non-null  object
 6   internet_option               19919 non-null  object
 7   used_special_discount         19919 non-null  object
 8   offer_application_preference  19919 non-null  object
 9   past_complaint                19919 non-null  object
 10  complaint_status              19919 non-null  object
 11  feedback                      19919 non-null  object
 12  joined_through_referral_1     19919 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB

In [668]:
list1=[]
for j in cat_col1:
    list1.append(j)

In [669]:
list1

['customer_id',
 'gender',
 'region_category',
 'membership_category',
 'preferred_offer_types',
 'medium_of_operation',
 'internet_option',
 'used_special_discount',
 'offer_application_preference',
 'past_complaint',
 'complaint_status',
 'feedback',
 'joined_through_referral_1']

In [584]:
lis = []
for i in cat_col:
    lis.append(i)

In [585]:
lis

['customer_id',
 'gender',
 'region_category',
 'membership_category',
 'preferred_offer_types',
 'medium_of_operation',
 'internet_option',
 'used_special_discount',
 'offer_application_preference',
 'past_complaint',
 'complaint_status',
 'feedback',
 'joined_through_referral_1']

In [586]:
one_hot_columns = ['gender',
 'region_category',
 'membership_category',
 'preferred_offer_types',
 'medium_of_operation',
 'internet_option',
 'used_special_discount',
 'offer_application_preference',
 'past_complaint',
 'complaint_status',
 'feedback',
 'joined_through_referral_1']

from category_encoders.one_hot import OneHotEncoder
ohe_encoder = OneHotEncoder(cols=one_hot_columns,use_cat_names=True)

In [587]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [588]:
print(X_train)

                                customer_id  age gender region_category  \
4218   fffe43004900440034003400330033003900   12      F            City
25030  fffe43004900440035003200360038003200   11      M            Town
3665   fffe43004900440032003500390033003900   26      F            City
17256  fffe43004900440035003200350035003100   38      F         Village
27908      fffe4300490044003800360033003000   53      M            Town
...                                     ...  ...    ...             ...
7813   fffe43004900440034003500390032003200   43      F            Town
32511  fffe43004900440033003200320032003600   61      M            Town
5192   fffe43004900440033003500380037003700   30      M            Town
12172  fffe43004900440035003200360037003200   28      F            City
33003      fffe4300490044003500390036003100   49      M         Village

       membership_category     preferred_offer_types medium_of_operation  \
4218    Premium Membership     Gift Vouchers/Coupons               other
25030        No Membership     Gift Vouchers/Coupons          Smartphone
3665      Basic Membership            Without Offers             Desktop
17256     Basic Membership     Gift Vouchers/Coupons          Smartphone
27908   Premium Membership            Without Offers               other
...                    ...                       ...                 ...
7813     Silver Membership            Without Offers                Both
32511     Basic Membership  Credit/Debit Card Offers          Smartphone
5192   Platinum Membership            Without Offers          Smartphone
12172    Silver Membership            Without Offers          Smartphone
33003   Premium Membership            Without Offers                Both

      internet_option  days_since_last_login  avg_time_spent  ...  date5  \
4218            Wi-Fi                     11       48.950000  ...      0
25030     Fiber_Optic                      7      221.320000  ...      1
3665      Mobile_Data                     22       40.040000  ...      0
17256           Wi-Fi                     21      122.120000  ...      0
27908     Fiber_Optic                   -999     1014.730000  ...      1
...               ...                    ...             ...  ...    ...
7813      Mobile_Data                      7     1554.710000  ...      0
32511     Mobile_Data                     16     -870.193443  ...      0
5192      Mobile_Data                   -999       91.440000  ...      0
12172     Mobile_Data                      5      317.290000  ...      1
33003           Wi-Fi                      9      400.930000  ...      0

       date6  date7 date8 date9 joined_through_referral_1 hour1 hour2  hour3  \
4218       0      0     0     0                       Yes     1     0      0
25030      0      0     0     0                       Yes     0     0      0
3665       0      0     1     0                        No     0     0      1
17256      0      0     0     0                        No     1     0      0
27908      0      0     0     0                       Yes     1     0      0
...      ...    ...   ...   ...                       ...   ...   ...    ...
7813       0      0     0     0                       Yes     0     1      0
32511      0      0     0     0                       Yes     0     1      0
5192       0      0     0     0                       Yes     0     1      0
12172      0      0     0     0                        No     1     0      0
33003      0      0     0     1                        No     1     0      0

       hour4
4218       0
25030      1
3665       0
17256      0
27908      0
...      ...
7813       0
32511      0
5192       0
12172      0
33003      0

[29593 rows x 32 columns]

In [589]:
print(X_test)

                                customer_id  age gender region_category  \
19807      fffe4300490044003700360031003700   12      M            Town
19169  fffe43004900440033003800330035003300   63      F            Town
11555      fffe4300490044003100350034003800   30      F            City
31630      fffe4300490044003400340037003300   64      F            City
30987  fffe43004900440035003300390039003100   31      F            City
...                                     ...  ...    ...             ...
36694  fffe43004900440036003100350037003000   13      F         Village
26260  fffe43004900440031003600360030003600   27      F            City
35924  fffe43004900440033003600350036003100   57      F            Town
25503  fffe43004900440033003600390030003000   21      F            City
29656  fffe43004900440031003500340033003100   14      M            City

       membership_category     preferred_offer_types medium_of_operation  \
19807    Silver Membership  Credit/Debit Card Offers          Smartphone
19169      Gold Membership     Gift Vouchers/Coupons          Smartphone
11555     Basic Membership            Without Offers             Desktop
31630      Gold Membership     Gift Vouchers/Coupons          Smartphone
30987   Premium Membership            Without Offers             Desktop
...                    ...                       ...                 ...
36694   Premium Membership     Gift Vouchers/Coupons          Smartphone
26260    Silver Membership     Gift Vouchers/Coupons             Desktop
35924   Premium Membership     Gift Vouchers/Coupons          Smartphone
25503        No Membership            Without Offers             Desktop
29656  Platinum Membership     Gift Vouchers/Coupons          Smartphone

      internet_option  days_since_last_login  avg_time_spent  ...  date5  \
19807     Fiber_Optic                     24      121.820000  ...      0
19169     Mobile_Data                     14      153.910000  ...      0
11555           Wi-Fi                     11     -217.480427  ...      0
31630           Wi-Fi                      8      111.580000  ...      0
30987     Mobile_Data                      9       58.490000  ...      0
...               ...                    ...             ...  ...    ...
36694     Fiber_Optic                     16      147.760000  ...      1
26260     Mobile_Data                     11       30.020000  ...      0
35924     Fiber_Optic                     12      396.810000  ...      0
25503     Fiber_Optic                     16       43.880000  ...      0
29656     Fiber_Optic                     17       51.390000  ...      0

       date6  date7 date8 date9 joined_through_referral_1 hour1 hour2  hour3  \
19807      0      0     0     0                        No     0     0      1
19169      0      0     0     0                       Yes     0     0      0
11555      0      0     0     0                       Yes     0     0      0
31630      0      0     0     0                       Yes     0     0      0
30987      0      0     0     0                        No     0     0      1
...      ...    ...   ...   ...                       ...   ...   ...    ...
36694      0      0     0     0                        No     0     0      1
26260      0      0     0     0                       Yes     0     0      0
35924      0      0     0     0                        No     1     0      0
25503      0      0     0     1                        No     0     0      1
29656      0      0     1     0                        No     0     1      0

       hour4
19807      0
19169      1
11555      1
31630      1
30987      0
...      ...
36694      0
26260      1
35924      0
25503      0
29656      0

[7399 rows x 32 columns]

In [590]:
print(Y_train)

4218     1
25030    5
3665     5
17256    4
27908    2
        ..
7813     3
32511    5
5192     3
12172    4
33003    3
Name: churn_risk_score, Length: 29593, dtype: int64

In [591]:
print(Y_test)

19807    3
19169    1
11555    5
31630    3
30987    2
        ..
36694    1
26260    4
35924    1
25503    4
29656    3
Name: churn_risk_score, Length: 7399, dtype: int64

In [592]:
X_train = ohe_encoder.fit_transform(X_train)

In [670]:
df1 = ohe_encoder.fit_transform(df1)

In [594]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29593 entries, 4218 to 33003
Data columns (total 65 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   customer_id                                     29593 non-null  object
 1   age                                             29593 non-null  int64
 2   gender_F                                        29593 non-null  int64
 3   gender_M                                        29593 non-null  int64
 4   gender_Unknown                                  29593 non-null  int64
 5   region_category_City                            29593 non-null  int64
 6   region_category_Town                            29593 non-null  int64
 7   region_category_Village                         29593 non-null  int64
 8   membership_category_Premium Membership          29593 non-null  int64
 9   membership_category_No Membership               29593 non-null  int64
 10  membership_category_Basic Membership            29593 non-null  int64
 11  membership_category_Silver Membership           29593 non-null  int64
 12  membership_category_Platinum Membership         29593 non-null  int64
 13  membership_category_Gold Membership             29593 non-null  int64
 14  preferred_offer_types_Gift Vouchers/Coupons     29593 non-null  int64
 15  preferred_offer_types_Without Offers            29593 non-null  int64
 16  preferred_offer_types_Credit/Debit Card Offers  29593 non-null  int64
 17  preferred_offer_types_nan                       29593 non-null  int64
 18  medium_of_operation_other                       29593 non-null  int64
 19  medium_of_operation_Smartphone                  29593 non-null  int64
 20  medium_of_operation_Desktop                     29593 non-null  int64
 21  medium_of_operation_Both                        29593 non-null  int64
 22  internet_option_Wi-Fi                           29593 non-null  int64
 23  internet_option_Fiber_Optic                     29593 non-null  int64
 24  internet_option_Mobile_Data                     29593 non-null  int64
 25  days_since_last_login                           29593 non-null  int64
 26  avg_time_spent                                  29593 non-null  float64
 27  avg_transaction_value                           29593 non-null  float64
 28  avg_frequency_login_days                        29593 non-null  float64
 29  points_in_wallet                                29593 non-null  float64
 30  used_special_discount_Yes                       29593 non-null  int64
 31  used_special_discount_No                        29593 non-null  int64
 32  offer_application_preference_No                 29593 non-null  int64
 33  offer_application_preference_Yes                29593 non-null  int64
 34  past_complaint_Yes                              29593 non-null  int64
 35  past_complaint_No                               29593 non-null  int64
 36  complaint_status_Unsolved                       29593 non-null  int64
 37  complaint_status_Not Applicable                 29593 non-null  int64
 38  complaint_status_Solved                         29593 non-null  int64
 39  complaint_status_Solved in Follow-up            29593 non-null  int64
 40  complaint_status_No Information Available       29593 non-null  int64
 41  feedback_Products always in Stock               29593 non-null  int64
 42  feedback_Too many ads                           29593 non-null  int64
 43  feedback_Poor Website                           29593 non-null  int64
 44  feedback_Reasonable Price                       29593 non-null  int64
 45  feedback_Poor Customer Service                  29593 non-null  int64
 46  feedback_Quality Customer Care                  29593 non-null  int64
 47  feedback_Poor Product Quality                   29593 non-null  int64
 48  feedback_No reason specified                    29593 non-null  int64
 49  feedback_User Friendly Website                  29593 non-null  int64
 50  date1                                           29593 non-null  int32
 51  date2                                           29593 non-null  int32
 52  date3                                           29593 non-null  int32
 53  date4                                           29593 non-null  int32
 54  date5                                           29593 non-null  int32
 55  date6                                           29593 non-null  int32
 56  date7                                           29593 non-null  int32
 57  date8                                           29593 non-null  int32
 58  date9                                           29593 non-null  int32
 59  joined_through_referral_1_Yes                   29593 non-null  int64
 60  joined_through_referral_1_No                    29593 non-null  int64
 61  hour1                                           29593 non-null  int32
 62  hour2                                           29593 non-null  int32
 63  hour3                                           29593 non-null  int32
 64  hour4                                           29593 non-null  int32
dtypes: float64(4), int32(13), int64(47), object(1)
memory usage: 13.4+ MB

In [595]:
X_train

,customer_id,age,gender_F,gender_M,gender_Unknown,region_category_City,region_category_Town,region_category_Village,membership_category_Premium Membership,membership_category_No Membership,...,date6,date7,date8,date9,joined_through_referral_1_Yes,joined_through_referral_1_No,hour1,hour2,hour3,hour4
4218,fffe43004900440034003400330033003900,12,1,0,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
25030,fffe43004900440035003200360038003200,11,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3665,fffe43004900440032003500390033003900,26,1,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
17256,fffe43004900440035003200350035003100,38,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
27908,fffe4300490044003800360033003000,53,0,1,0,0,1,0,1,0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,fffe43004900440034003500390032003200,43,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
32511,fffe43004900440033003200320032003600,61,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
5192,fffe43004900440033003500380037003700,30,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
12172,fffe43004900440035003200360037003200,28,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
33003,fffe4300490044003500390036003100,49,0,1,0,0,0,1,1,0,...,0,0,0,1,0,1,1,0,0,0

In [671]:
df1

,customer_id,age,gender_F,gender_M,gender_Unknown,region_category_Village,region_category_Town,region_category_City,membership_category_Premium Membership,membership_category_Gold Membership,...,date6,date7,date8,date9,joined_through_referral_1_No,joined_through_referral_1_Yes,hour1,hour2,hour3,hour4
0,fffe43004900440031003700300030003400,50,1,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
1,fffe43004900440031003900370037003300,41,0,1,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,fffe43004900440034003800360037003000,31,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,1,0
3,fffe43004900440036003200370033003400,64,0,1,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
4,fffe43004900440035003000370031003900,16,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19914,fffe43004900440035003600330037003800,12,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
19915,fffe43004900440032003900370037003100,40,1,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
19916,fffe43004900440036003100310036003700,55,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
19917,fffe43004900440034003200330033003600,17,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
19918,fffe43004900440036003200340030003100,20,0,1,0,0,1,0,1,0,...,0,0,0,1,0,1,0,1,0,0

In [597]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
from sklearn.feature_selection import RFE
rfe = RFE(logreg, 15) # running RFE with 13 variables as output
rfe = rfe.fit(X_train.loc[:, X_train.columns != 'customer_id'],Y_train)
print(rfe.support_) # Printing the boolean results
print(rfe.ranking_) # Printing

rfe_col = X_train.loc[:, X_train.columns != 'customer_id'].columns[rfe.support_]
rfe_col = list(rfe_col)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:68: FutureWarning: Pass n_features_to_select=15 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[ True False False False False  True False  True  True  True  True  True
  True False False False False False False False False False False False
  True  True  True  True  True False False  True False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False False False False]
[ 1  4 12 50 17  1 47  1  1  1  1  1  1 32  5 27 49 33  9 23 48 24 26 25
  1  1  1  1  1  3  8  1 16  2 14 41 15 36 34 35 20 10 13 18  7 22  6 11
 21 42 43 45 46 44 40 39 37 38  1 19 29 28 30 31]

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [598]:
rfe_col = X_train.loc[:, X_train.columns != 'customer_id'].columns[rfe.support_]
rfe_col = list(rfe_col)

In [599]:
rfe_col

['age',
 'region_category_Town',
 'membership_category_Premium Membership',
 'membership_category_No Membership',
 'membership_category_Basic Membership',
 'membership_category_Silver Membership',
 'membership_category_Platinum Membership',
 'membership_category_Gold Membership',
 'days_since_last_login',
 'avg_time_spent',
 'avg_transaction_value',
 'avg_frequency_login_days',
 'points_in_wallet',
 'offer_application_preference_No',
 'joined_through_referral_1_Yes']

In [600]:
rfe_col = ['customer_id',
 'age',
 'region_category_Town',
 'membership_category_Basic Membership',
 'membership_category_Gold Membership',
 'membership_category_No Membership',
 'membership_category_Platinum Membership',
 'membership_category_Premium Membership',
 'membership_category_Silver Membership',
 'days_since_last_login',
 'avg_time_spent',
 'avg_transaction_value',
 'avg_frequency_login_days',
 'points_in_wallet',
 'offer_application_preference_No',
 'joined_through_referral_1_Yes']

In [601]:
rfe_col

['customer_id',
 'age',
 'region_category_Town',
 'membership_category_Basic Membership',
 'membership_category_Gold Membership',
 'membership_category_No Membership',
 'membership_category_Platinum Membership',
 'membership_category_Premium Membership',
 'membership_category_Silver Membership',
 'days_since_last_login',
 'avg_time_spent',
 'avg_transaction_value',
 'avg_frequency_login_days',
 'points_in_wallet',
 'offer_application_preference_No',
 'joined_through_referral_1_Yes']

In [602]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, precision_score, recall_score
from sklearn.ensemble import RandomForestClassifier
clf_LR = RandomForestClassifier()

clf_LR.fit(X_train[rfe_col].drop(['customer_id'],axis=1),Y_train)

pred_train = clf_LR.predict(X_train[rfe_col].drop(['customer_id'],axis=1))

X_test = ohe_encoder.fit_transform(X_test) 

pred_test = clf_LR.predict(X_test[rfe_col].drop(['customer_id'],axis=1))

print('accuracy_score: ', round(accuracy_score(Y_train, pred_train), 2))
print('f1_score: ',round(f1_score(Y_train, pred_train, average="macro"),2))
print('precision_score: ',round(precision_score(Y_train, pred_train, average="macro"),2))
print('recall_score: ',round(recall_score(Y_train, pred_train, average="macro"),2)) 
cm = confusion_matrix(Y_train, pred_train)
print(cm)

# Evaluating model performance on test data
print('accuracy_score: ', round(accuracy_score(Y_test, pred_test), 2))
print('f1_score: ',round(f1_score(Y_test, pred_test, average="macro"),2))
print('precision_score: ',round(precision_score(Y_test, pred_test, average="macro"),2))
print('recall_score: ',round(recall_score(Y_test, pred_test, average="macro"),2)) 
# create confusion matrix
cm = confusion_matrix(Y_test, pred_test)
print(cm)

accuracy_score:  1.0
f1_score:  1.0
precision_score:  1.0
recall_score:  1.0
[[ 934    0    0    0    0    0]
 [   0 2109    0    0    0    0]
 [   0    0 2199    0    0    0]
 [   0    0    0 8386    0    0]
 [   0    0    0    0 8190    0]
 [   0    0    0    0    0 7775]]
accuracy_score:  0.72
f1_score:  0.58
precision_score:  0.61
recall_score:  0.57
[[   0   13    4   86   53   73]
 [   0  350   76  113    4    0]
 [   0   90  245  187   20    0]
 [   0    7    3 1853  175    0]
 [   0    2    1  169 1194  629]
 [   0    0    0    0  344 1708]]

C:\Users\hp\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [672]:
pred_y = clf_LR.predict(df1[rfe_col].drop(['customer_id'],axis=1))

In [673]:
np_array = np.array(pred_y)
np_array
reshaped_array = np.reshape(np_array, (19919, 1))
y_pred= pd.DataFrame(reshaped_array, columns=["churn_risk_score"])

In [674]:
y_pred

       churn_risk_score
0                     3
1                     3
2                     3
3                     3
4                     5
...                 ...
19914                 3
19915                 5
19916                 5
19917                 4
19918                 3

[19919 rows x 1 columns]

In [675]:
final_file1 = pd.DataFrame( X1['customer_id'].reset_index(), y_pred["churn_risk_score"])

In [676]:
final_file1

                  index                           customer_id
churn_risk_score
3                   3.0  fffe43004900440036003200370033003400
3                   3.0  fffe43004900440036003200370033003400
3                   3.0  fffe43004900440036003200370033003400
3                   3.0  fffe43004900440036003200370033003400
5                   5.0  fffe43004900440035003700330030003600
...                 ...                                   ...
3                   3.0  fffe43004900440036003200370033003400
5                   5.0  fffe43004900440035003700330030003600
5                   5.0  fffe43004900440035003700330030003600
4                   4.0  fffe43004900440035003000370031003900
3                   3.0  fffe43004900440036003200370033003400

[19919 rows x 2 columns]

In [677]:
final_file = pd.DataFrame( X_test['customer_id'].reset_index(), Y_test )

In [649]:
Y_test

19807    3
19169    1
11555    5
31630    3
30987    2
        ..
36694    1
26260    4
35924    1
25503    4
29656    3
Name: churn_risk_score, Length: 7399, dtype: int64

In [678]:
final_file

                    index                           customer_id
churn_risk_score
3                 31630.0      fffe4300490044003400340037003300
1                 19169.0  fffe43004900440033003800330035003300
5                  6825.0      fffe4300490044003100310033003400
3                 31630.0      fffe4300490044003400340037003300
2                 11555.0      fffe4300490044003100350034003800
...                   ...                                   ...
1                 19169.0  fffe43004900440033003800330035003300
4                 30987.0  fffe43004900440035003300390039003100
1                 19169.0  fffe43004900440033003800330035003300
4                 30987.0  fffe43004900440035003300390039003100
3                 31630.0      fffe4300490044003400340037003300

[7399 rows x 2 columns]

In [651]:
final_file = final_file.drop(['index'],axis=1)

In [652]:
final_file

                                           customer_id
churn_risk_score
3                     fffe4300490044003400340037003300
1                 fffe43004900440033003800330035003300
5                     fffe4300490044003100310033003400
3                     fffe4300490044003400340037003300
2                     fffe4300490044003100350034003800
...                                                ...
1                 fffe43004900440033003800330035003300
4                 fffe43004900440035003300390039003100
1                 fffe43004900440033003800330035003300
4                 fffe43004900440035003300390039003100
3                     fffe4300490044003400340037003300

[7399 rows x 1 columns]

In [653]:
final_file = final_file.set_index(["customer_id",Y_test])

In [654]:
final_file

Empty DataFrame
Columns: []
Index: [(fffe4300490044003400340037003300, 3), (fffe43004900440033003800330035003300, 1), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (fffe4300490044003100350034003800, 2), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (fffe43004900440035003300390039003100, 4), (fffe43004900440035003300390039003100, 4), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe43004900440033003800330035003300, 1), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe4300490044003100350034003800, 2), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (nan, -1), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe43004900440033003800330035003300, 1), (fffe43004900440035003300390039003100, 4), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe43004900440035003300390039003100, 4), (fffe4300490044003400340037003300, 3), (fffe4300490044003400340037003300, 3), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe43004900440033003800330035003300, 1), (fffe43004900440033003800330035003300, 1), (fffe43004900440035003300390039003100, 4), (fffe4300490044003400340037003300, 3), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100350034003800, 2), (fffe43004900440035003300390039003100, 4), (nan, -1), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe4300490044003100350034003800, 2), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe43004900440033003800330035003300, 1), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (nan, -1), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe43004900440035003300390039003100, 4), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (fffe4300490044003100350034003800, 2), (fffe43004900440035003300390039003100, 4), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe43004900440035003300390039003100, 4), (fffe43004900440033003800330035003300, 1), (fffe43004900440035003300390039003100, 4), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe43004900440033003800330035003300, 1), (fffe43004900440035003300390039003100, 4), (fffe43004900440035003300390039003100, 4), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (fffe4300490044003100310033003400, 5), (fffe43004900440035003300390039003100, 4), (nan, -1), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), (fffe4300490044003100310033003400, 5), (fffe4300490044003400340037003300, 3), ...]

[7399 rows x 0 columns]

In [679]:
final_file1 = final_file1.drop(['index'],axis=1)

In [680]:
final_file1

                                           customer_id
churn_risk_score
3                 fffe43004900440036003200370033003400
3                 fffe43004900440036003200370033003400
3                 fffe43004900440036003200370033003400
3                 fffe43004900440036003200370033003400
5                 fffe43004900440035003700330030003600
...                                                ...
3                 fffe43004900440036003200370033003400
5                 fffe43004900440035003700330030003600
5                 fffe43004900440035003700330030003600
4                 fffe43004900440035003000370031003900
3                 fffe43004900440036003200370033003400

[19919 rows x 1 columns]

In [681]:
final_file1 = final_file1.set_index(["customer_id",y_pred["churn_risk_score"]])

In [682]:
final_file1

Empty DataFrame
Columns: []
Index: [(fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440031003900370037003300, 1), (fffe43004900440035003000370031003900, 4), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003000370031003900, 4), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003000370031003900, 4), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003000370031003900, 4), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440034003800360037003000, 2), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440031003900370037003300, 1), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440034003800360037003000, 2), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003000370031003900, 4), (fffe43004900440031003900370037003300, 1), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003000370031003900, 4), (fffe43004900440031003900370037003300, 1), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440031003900370037003300, 1), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440035003700330030003600, 5), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), (fffe43004900440036003200370033003400, 3), ...]

[19919 rows x 0 columns]

In [683]:
final_file1.to_csv('Final_file1.csv')

In [684]:
final_file1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 19919 entries, ('fffe43004900440036003200370033003400', 3) to ('fffe43004900440036003200370033003400', 3)
Empty DataFrame